body{
  background-color: #dddddd;
}

a{
  text-decoration: none;
}

.container{
  background-color: #dddddd;
  padding: 20px;
}

.content{
  background-color: #eeeeee;
  margin: 0 auto;
}

.header{
  display: flex;
  flex:1;
  padding: 0 20px;
}

.link{
  cursor:pointer;
  text-decoration: none;
  color:#333;
  margin-left: 20px;
  margin-top: 32px;
}

.link:hover{
  color:#666;
}

.name{
  background-color: #eeeeee;
  border:none;
  border-bottom:3px solid #333;
  color:#333;
}

button{
  background-color: #eeeeee;
  border: 3px solid #333;
  color:#333;
  cursor:pointer
}

button:hover{
  background-color: #dddddd;
}

@media (max-width: 600px) {
  .content{
    min-width:100%;
  }
  h1{
    font-size:20px;
  }
  h3{
    font-size:14px;
  }
  .link{
    margin-top: 18px;
  }
}

@media (min-width: 601px) {
  .content{
    width: 600px;
  }
}